################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/Debug
/.vs
/19.5-Task-5-Game.vcxproj.user
/19.5-Task-5-Game.vcxproj.filters
/19.5-Task-5-Game.vcxproj
/19.5-Task-5-Game.sln
